.profile-menu .dropdown-menu {
    left: unset;
  }
  .profile-menu .fa-fw {
    margin-right: 10px;
  }
  
  .toggle-change::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }

  .navbar-custom {
  background-color: #21587b9e ;
}  

/* h2 {
  color: rgb(8, 8, 8);
  font-family: 'Times new Roman';
  text-align: center;
  font-size: 24px;
  margin: 0 !important;
} */